<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/resources/css/reg.css">
    <title>Редактирование</title>
</head>
<body>
<div class="row">
    <div th:fragment="language" class="col-md-2 col-md-push-1">
        <a th:href="@{'/admin/edit?id=' + ${id}+ '&&language=en_US'}"><img width="35" height="20"
                                                                           th:src="@{/resources/images/en.jpg}"/></a>
        <a th:href="@{'/admin/edit?id=' + ${id}+ '&&language=ru_RU'}"><img width="35" height="20"
                                                                           th:src="@{/resources/images/ru.jpg}"/></a>
    </div>
    <div class="col-md-3 col-md-push-7">
        <a th:href="@{/shop}" class="badge badge-info"><span th:text="#{info.back}"></span></a>
        <a th:href="@{'/basket'}"><img width="35" height="20" th:src="@{/resources/images/basket.png}"/></a>
        <a th:href="@{'/admin/admin-page'}" class="badge badge-primary"><span
                th:text="#{info.admin_account}"></span></a>
        <form th:action="@{/logout}" th:method="post">
            <input type="submit" th:value="#{info.sing_out}">
        </form>
    </div>
</div>

<span th:if="${id}==1">
   <div class="row reg">
<div class="col-md-4 col-md-push-4 container">
    <div class="row main-form">
    <form th:action="@{/admin/save-product}" method="post" th:object="${productDto}">
            <div class="form-group">
                <label th:for="name" th:text="#{add.product_name}" class="cols-sm-4  text-dark control-label"></label>
                <div class="cols-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-thumb-tack" aria-hidden="true"></i></span>
                        <input th:field="*{name}" required type="text" class="form-control"
                               placeholder="Enter product name"/>
                    </div>
                    <span th:each="err : ${#fields.errors('name')}" th:text="#{${err}}" style="color: red">Error</span>
                </div>
            </div>

            <div class="form-group">
                <label th:for="price" th:text="#{add.product_price}" class="cols-sm-4 text-dark control-label"></label>
                <div class="cols-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
                        <input th:field="*{price}" required type="text" class="form-control" placeholder="1.00"
                               step="0.01"/>
                    </div>
                    <span th:each="err : ${#fields.errors('price')}" th:text="#{${err}}" style="color: red">Error</span>
                </div>
            </div>

            <div class="form-group">
                <label th:for="describe" th:text="#{add.product_describe}"
                       class="cols-sm-4 text-dark control-label"></label>
                <div class="cols-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-file-text" aria-hidden="true"></i></span>
                        <input th:field="*{describe}" required type="text" class="form-control"
                               placeholder="Enter describe"/>
                    </div>
                     <span th:each="err : ${#fields.errors('describe')}" th:text="#{${err}}"
                           style="color: red">Error</span>
                </div>
            </div>

            <div class="form-group">
                <label th:for="count" th:text="#{add.product_count}" class="cols-sm-4 text-dark control-label"></label>
                <div class="cols-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-align-justify" aria-hidden="true"></i></span>
                        <input th:field="*{count}" class="form-control" name="count" type="number"
                               placeholder="Enter count"/>
                    </div>
                     <span th:each="err : ${#fields.errors('count')}" th:text="#{${err}}"
                           style="color: red">Error</span>
                </div>
            </div>

           <div class="form-group">
                <label th:for="type_id" th:text="#{add.type_id}" class="cols-sm-4 text-dark control-label"></label>
                <div class="cols-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-suitcase" aria-hidden="true"></i></span>
                        <input th:field="*{type_id}" class="form-control" name="type_id" type="number"
                               placeholder="Enter id"/>
                    </div>
                    <span th:each="err : ${#fields.errors('type_id')}" th:text="#{${err}}"
                          style="color: red">Error</span>
                </div>
            </div>

           <div class="form-group">
                <label th:for="maker_id" th:text="#{add.maker_id}" class="cols-sm-4 text-dark control-label"></label>
                <div class="cols-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-truck" aria-hidden="true"></i></span>
                        <input th:field="*{maker_id}" class="form-control" name="maker_id" type="number"
                               placeholder="Enter id"/>
                    </div>
                     <span th:each="err : ${#fields.errors('maker_id')}" th:text="#{${err}}"
                           style="color: red">Error</span>
                </div>
            </div>

        <div class="form-group">
                <label th:for="url" th:text="#{add.picture}" class="cols-sm-4  text-dark control-label"></label>
                <div class="cols-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-thumb-tack" aria-hidden="true"></i></span>
                        <input th:field="*{url}" type="text" th:value="def" class="form-control"
                               placeholder="Enter picture name"/>
                    </div>
                </div>
            </div>

            <div class="form-group ">
                <input type="submit" th:value="#{add.save}" target="_blank"
                       class="btn btn-success btn-lg btn-block login-button"/>
            </div>

        </form>
</div>
</div>
   </div>
</span>

<span th:if="${id}==2">
      <div class="row reg">
<div class="col-md-4 col-md-push-4 container">
    <div class="row main-form">
    <form th:action="@{/admin/update-product}" method="post" th:object="${productDto}">
            <div class="form-group">
                 <div class="form-group">
                <label th:for="id" th:text="#{admin.enter_id_product}"
                       class="cols-sm-4 text-dark control-label"></label>
                <div class="cols-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-address-book " aria-hidden="true"></i></span>
                        <input th:field="*{id}" class="form-control" name="id" required type="number"
                               placeholder="Enter id"/>
                    </div>
                </div>
            </div>

                <label th:for="name" th:text="#{add.product_name}" class="cols-sm-4  text-dark control-label"></label>
                <div class="cols-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-thumb-tack" aria-hidden="true"></i></span>
                        <input th:field="*{name}" type="text" class="form-control" placeholder="Enter product name"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label th:for="price" th:text="#{add.product_price}" class="cols-sm-4 text-dark control-label"></label>
                <div class="cols-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
                        <input th:field="*{price}" type="text" class="form-control" placeholder="1.00" step="0.01"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label th:for="describe" th:text="#{add.product_describe}"
                       class="cols-sm-4 text-dark control-label"></label>
                <div class="cols-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-file-text" aria-hidden="true"></i></span>
                        <input th:field="*{describe}" type="text" class="form-control" placeholder="Enter describe"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label th:for="count" th:text="#{add.product_count}" class="cols-sm-4 text-dark control-label"></label>
                <div class="cols-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-align-justify" aria-hidden="true"></i></span>
                        <input th:field="*{count}" class="form-control" name="count" type="number"
                               placeholder="Enter count"/>
                    </div>
                </div>
            </div>

           <div class="form-group">
                <label th:for="type_id" th:text="#{add.type_id}" class="cols-sm-4 text-dark control-label"></label>
                <div class="cols-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-suitcase" aria-hidden="true"></i></span>
                        <input th:field="*{type_id}" class="form-control" name="type_id" type="number"
                               placeholder="Enter id"/>
                    </div>
                    <span th:each="err : ${#fields.errors('type_id')}" th:text="#{${err}}"
                          style="color: red">Error</span>
                </div>
            </div>

           <div class="form-group">
                <label th:for="maker_id" th:text="#{add.maker_id}" class="cols-sm-4 text-dark control-label"></label>
                <div class="cols-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-truck" aria-hidden="true"></i></span>
                        <input th:field="*{maker_id}" class="form-control" name="maker_id" type="number"
                               placeholder="Enter id"/>
                    </div>
                </div>
            </div>

        <div class="form-group">
                <label th:for="url" th:text="#{add.picture}" class="cols-sm-4  text-dark control-label"></label>
                <div class="cols-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-thumb-tack" aria-hidden="true"></i></span>
                        <input th:field="*{url}" type="text" th:value="def" class="form-control"
                               placeholder="Enter new picture name"/>
                    </div>
                </div>
            </div>

            <div class="form-group ">
                <input type="submit" th:value="#{admin.update}" target="_blank"
                       class="btn btn-success btn-lg btn-block login-button"/>
            </div>

        </form>
</div>
</div>
   </div>
</span>

<span th:if="${id}==3">
   <div class="row reg">
<div class="col-md-4 col-md-push-4 container">
    <div class="row main-form">
    <form th:action="@{/admin/update-user}" method="post" th:object="${userDto}">

         <div class="form-group">
                <label th:for="id" class="cols-sm-4  text-dark control-label"><span th:text="#{user.id}"></span></label>
                <div class="cols-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input th:field="*{id}" required type="number" class="form-control"
                               placeholder="Enter user id"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label th:for="userName" class="cols-sm-4  text-dark control-label"><span
                        th:text="#{registration.name}"></span></label>
                <div class="cols-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input th:field="*{userName}" type="text" class="form-control" placeholder="Enter new Name"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label th:for="phoneNumber" class="cols-sm-4 text-dark control-label"><span
                        th:text="#{registration.phone_one}"></span></label>
                <div class="cols-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                        <input th:field="*{phoneNumber}" type="text" class="form-control"
                               placeholder="Enter new phone"/>
                    </div>
                </div>
            </div>
          <div class="form-group">
                <label th:for="role" class="cols-sm-4 text-dark control-label"><span
                        th:text="#{user.role}"></span></label>
<select id="role" name="role" class="form-control">
                <option>User role </option>
                <option th:value="USER" th:text="USER"></option>
                <option th:value="ADMIN" th:text="ADMIN"></option>
    </option>
            </select>
    </div>

            <div class="form-group ">
                <input type="submit" th:value="#{admin.updateUser}" target="_blank"
                       class="btn btn-success btn-lg btn-block login-button"/>
            </div>

        </form>
</div>
</div>
</div>
</span>

<span th:if="${id}==4">

    <div class="row reg">
<div class="col-md-4 col-md-push-4 container">
    <div class="row main-form">
    <form th:action="@{/admin/update-status}" method="post">

          <div class="form-group">
                <label th:text="#{admin.enter_id_order}" class="cols-sm-4 text-dark control-label"></label>
                <div class="cols-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-truck" aria-hidden="true"></i></span>
                        <input class="form-control" name="id" type="number" placeholder="Enter id"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="cols-sm-4">
                                 <select class="form-control" id="status" name="status">
                                    <option th:value="NOT_PAID" th:text="NOT_PAID">Не оплачен</option>
                                    <option th:value="PAID" th:text="PAID">Оплачен(Доставлен)</option>
                                     </option>
                                </select>
                </div>
            </div>

            <div class="form-group ">
                <input type="submit" th:value="#{admin.edit_status}" target="_blank"
                       class="btn btn-success btn-lg btn-block login-button"/>
            </div>

        </form>
</div>
</div>
   </div>
</span>

<span th:if="${id}==5">
   <div class="row reg">
<div class="col-md-4 col-md-push-4 container">
    <div class="row main-form">
    <form th:action="@{/admin/update-type}" method="post" th:object="${typeDto}">

         <div class="form-group">
                <label th:for="id" class="cols-sm-4  text-dark control-label"><span th:text="#{type.id}"></span></label>
                <div class="cols-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input th:field="*{id}" required type="number" class="form-control"
                               placeholder="Enter type id"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label th:for="name" class="cols-sm-4  text-dark control-label"><span
                        th:text="#{type.name}"></span></label>
                <div class="cols-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input th:field="*{name}" type="text" class="form-control" placeholder="Enter new type name"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label th:for="categoryId" class="cols-sm-4 text-dark control-label"><span
                        th:text="#{type.category_id}"></span></label>
                <div class="cols-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                        <input th:field="*{categoryId}" type="number" class="form-control"
                               placeholder="Enter new category id"/>
                    </div>
                </div>
            </div>

            <div class="form-group ">
                <input type="submit" th:value="#{type.update}" target="_blank"
                       class="btn btn-success btn-lg btn-block login-button"/>
            </div>

        </form>
</div>
</div>
</div>
</span>

<span th:if="${id}==6">
   <div class="row reg">
<div class="col-md-4 col-md-push-4 container">
    <div class="row main-form">
    <form th:action="@{/admin/update-category}" method="post" th:object="${categoryDto}">

         <div class="form-group">
                <label th:for="id" class="cols-sm-4  text-dark control-label"><span
                        th:text="#{type.category_id}"></span></label>
                <div class="cols-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input th:field="*{id}" required type="number" class="form-control"
                               placeholder="Enter category id"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label th:for="name" class="cols-sm-4  text-dark control-label"><span
                        th:text="#{type.category_name}"></span></label>
                <div class="cols-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input th:field="*{name}" type="text" class="form-control" placeholder="Enter new type name"/>
                    </div>
                </div>
            </div>


            <div class="form-group ">
                <input type="submit" th:value="#{category.update}" target="_blank"
                       class="btn btn-success btn-lg btn-block login-button"/>
            </div>

        </form>
</div>
</div>
</div>
</span>
</body>
</html>