<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/resources/css/shop.css">
    <title>Orders</title>
</head>
<body>
<div class="row">
    <div th:fragment="language" class="col-md-2 offset-1">
        <a th:href="@{'/admin/view-orders?pageNo=' +${pageNo}+ '&&language=en_US'}"><img width="35" height="20"
                                                                                         th:src="@{/resources/images/en.jpg}"/></a>
        <a th:href="@{'/admin/view-orders?pageNo=' +${pageNo}+ '&&language=ru_RU'}"><img width="35" height="20"
                                                                                         th:src="@{/resources/images/ru.jpg}"/></a>
    </div>
    <div class="col-md-2 offset-6">
        <a th:href="@{/shop}" class="badge badge-info"><span th:text="#{info.back}"></span></a>
        <a th:href="@{'/admin/admin-page'}" class="badge badge-primary"><span
                th:text="#{info.admin_account}"></span></a>
        <form th:action="@{/logout}" th:method="post">
            <input type="submit" th:value="#{info.sing_out}" class="btn btn-danger">
        </form>
    </div>
</div>
<div>
<span th:if="${orders.size()}==0">
    <span th:text="#{orders.missing}" class="text-danger"></span><br/>
        <span th:if="${pageNo}>0">
            <a th:href="@{'/admin/view-orders?pageNo=' +${pageNo-1}} "><img width="65" height="20"
                                                                            th:src="@{/resources/images/left.jpg}"/></a>
    </span>
        </span>
    <span th:if="${orders.size()}!=0">
    </br></br>
        <div class="col-md-4 offset-4">
        <div class="list-group text-center">
    <a class="list-group-item list-group-item-primary">
        <legend th:text="#{orders.header}"></legend>
    </a>
    <tr th:each="order : ${orders}">
        <a class="list-group-item list-group-item-success">
              <form th:action="@{/admin/list-product}" method="get">
                    id :  <td th:text="${order.id}">id</td><br/>
                   <span th:text="#{user.order_time}"></span> <td th:text="${order.localDate}">localDateTime</td><br/>
                    <span th:text="#{order.sum}"></span> <td th:text="${order.price}">price</td><br/>
                     <span th:text="#{order.type_pay}"></span> <td th:text="${order.typeOfPayment}">type_of_payment</td><br/>
                     <span th:text="#{order.status}"></span> <td th:text="${order.status}">status</td><br/>
                   <span th:text="#{user.id}"></span> <td th:text="${order.user.id}">user_id</td><br/>
                    <span th:text="#{registration.name}"></span> <td
                      th:text="${order.user.userName}">user_name</td><br/>
                    <span th:text="#{user.phone}"></span> <td th:text="${order.user.phoneNumber}">user_id</td><br/>
                     <td>
                    <button name="order" th:type="submit" th:value="${order.id}" class="btn btn-primary"><span
                            th:text="#{product.show}"></span></button>
                </td>
                 </form>
            </a>
    </tr>
</div>

         <span th:if="${pageNo}>0">
        <a th:href="@{'/admin/view-orders?pageNo=' +${pageNo-1}} "><img width="65" height="20"
                                                                        th:src="@{/resources/images/left.jpg}"/></a>
         </span>
        <span th:if="${pageNo}>=0">
         <a th:href="@{'/admin/view-orders?pageNo=' +${pageNo+1}} "><img width="65" height="20"
                                                                         th:src="@{/resources/images/right.jpg}"/></a>
        </span>
    </span>
</body>
</html>