<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/resources/css/type.css">
    <title>Title</title>
</head>
<body>
<div sec:authorize="isAnonymous()" class="container text-center">
    <span th:text="#{info.text}" class="text-danger"></span>
</div>

<div class="row">
    <div th:fragment="language" class="col-md-2  offset-1">
        <a th:href="@{'/type?categoryId=' + ${categoryId}} + '&&language=en_US'"><img width="35" height="20"
                                                                                      th:src="@{/resources/images/en.jpg}"/></a>
        <a th:href="@{'/type?categoryId=' + ${categoryId}} + '&&language=ru_RU'"><img width="35" height="20"
                                                                                      th:src="@{/resources/images/ru.jpg}"/></a>
    </div>
    <div class="col-md-3 offset-6">
        <a th:href="@{/shop}" class="badge badge-info"><span th:text="#{info.back}"></span></a>
        <a sec:authorize="isAnonymous()" th:href="@{/registration}" class="badge badge-info"> <span
                th:text="#{info.registration}"></span></a>
        <a sec:authorize="isAnonymous()" th:href="@{/login}" class="badge badge-success"><span
                th:text="#{info.sing_in}"></span></a>
        <a sec:authorize="hasAnyAuthority('USER','ADMIN')" th:href="@{'/basket'}"><img width="35" height="20"
                                                                                       th:src="@{/resources/images/basket.png}"/></a>
        <a sec:authorize="hasAuthority('USER')" th:href="@{'/user-page'}" class="badge badge-primary"><span
                th:text="#{info.user_account}"></span></a>
        <a sec:authorize="hasAuthority('ADMIN')" th:href="@{'/admin/admin-page'}" class="badge badge-primary"><span
                th:text="#{info.admin_account}"></span></a>
        <form sec:authorize="hasAnyAuthority('USER','ADMIN')" th:action="@{/logout}" th:method="post">
            <input type="submit" th:value="#{info.sing_out}">
        </form>
    </div>
</div>
<span th:if="${types.size()}==0">
   <span th:text="#{product.missing}"></span><br/>
</span>

<div class="col-md-3 type">
    <div class="list-group">
        <a class="list-group-item list-group-item-primary">
            <legend th:text="#{products.type}"></legend>
        </a>
        <tr th:each="type : ${types}">
            <a th:href="@{'/product-type?typeId=' + ${type.id}}" class="list-group-item list-group-item-success">
                <td th:text="${type.name}"/>
            </a>
        </tr>
    </div>
</div>
</body>
</html>